/* global */


h1{
    color: darkblue;
    text-align: center;
    background-color: #80d2ff;
    padding: 10px;
}

h3{
    margin-left: 10px;
}

h4{
    font-size: 10px;
    color: red;
    margin-left: 10px;
}

.not-important{
    font-size: 30px;
    color: lightgrey;
    cursor: pointer;
}
.not-important:hover {
    font-size: 30px;
    color: lightgrey;
    cursor: pointer;
}
.important{
    font-size: 30px;
    color: red;
    cursor: pointer;
}
.important:hover {
    color: red;
}
#pendingTasks{
    padding: 10px 30px;
}
.task {
    padding: 5px 20px;
    display: flex;
    margin-bottom: 10px 0;
    border-radius: 5px;
    background-color: white;
    align-items: center;
}
.task i {
    margin-right: 5px;
}
.task .info {
    flex: 5;
}
.task .info h5{
    margin: 5px 0px;
}
.task .info p{
    margin: 0;
}
.task label {
    flex: 1;
}
.task .dates {
    flex: 1;
}
.hide {
    display: none;
}

.iDelete {
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.iDelete:hover {
    color:rgb(190, 80, 91);

}
.form-control{
    background-color: white;
    width: 95%;
}
main{
    display: flex;
    height: calc(100vh - 53px);
    background-size: stretch;
    background-image: url(https://cdn.pixabay.com/photo/2017/02/16/22/46/background-2072829_960_720.jpg);
    background-repeat: repeat-x;
    min-height: 180px;
}
#list{
    color: #8c5b1c;
    min-height: 60px;
    flex: 7;
    position: relative;
}

#form{
    background-color: #D9a057;
    opacity: .9;
    color: #2a6abc;
    min-height: 60px;
    flex: 5;
}
.btn btn-dark{
    width: 100px;
    height: 100px;
    font-size: 40px;
}