
.footer {
    border-top: 1px solid lightgrey;
    background-color: darkgrey;
    padding: 15px 10px 40px 10px;
    text-align: center;
}

.footer h6 {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin:0;
}